body {
    background-image: url("https://wallpapercave.com/wp/wp11872788.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: flex;
    justify-content: flex-end; */
    height: 95vh;
    align-items: center !important;
  }
  header {
    background-color: #3d2808;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: cursive;
  }
  
  .login-card {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
  }
  
  .login-card h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  #payment-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-box h2 {
    margin-bottom: 10px;
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
  }
  
  .payment-options input[type="radio"] {
    display: none;
  }
  
  .payment-options label {
    display: inline-block;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .payment-options input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  