<html>
<head>
  <title>Food Fusion</title>
  <link rel="stylesheet" type="text/css" href="C:\Users\veera\Downloads\foodordering_dashboard.css">
</head>
<body>

  <header>
    <h1>Food Fusion</h1>
  </header>
  <div class="login-card">
    <h2>Total Amount</h2>
     <h3><span>&#8377;999</span></h3>
    <form>
        <div class="payment-box">
            <h2>Select Payment Option:</h2>
            <div class="payment-options">
              <input type="radio" id="payment-option-cod" name="payment-option" value="cod">
              <label for="payment-option-cod">Cash on Delivery</label>
          
              <input type="radio" id="payment-option-card" name="payment-option" value="card">
              <label for="payment-option-card">Credit Card</label>
          
              <input type="radio" id="payment-option-phonepay" name="payment-option" value="phonepay">
              <label for="payment-option-phonepay">Phonepay</label>
              <p><a href="http://localhost:4200/orderconfirmed"> PROCEED</a></p>
              <!-- <input type="radio" id="payment-option-bank" name="payment-option" value="bank">
              <label for="payment-option-bank">Bank Transfer</label> -->
            </div>
          </div>
    </form>
  </div>

</body>