body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #070c45;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: cursive;
  }
  
  section {
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  .menu-list {
  
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      align-items: left;
      margin-left: 3%;
    }

    .card {
      width: 250px;
      height: 300px;
      margin: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      justify-content: center;
      padding-bottom: 0%;
    }

  button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  img{
    height: 50%;
    width: 50%;
  }

  .navbar {
    background-color: #167505;
    overflow: hidden;
  }

  .navbar a {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  .home_a{
    float: left !important;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  .search-bar button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  