<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="C:\Users\veera\Downloads\mainpage_food.css">
  <title>Your Page Title</title>
</head>
<body> -->
   
<html>
  <head> <title>Food Fusion</title></head>
  <body>
    <div class="registration_card">
<h1>Food Fusion</h1>
    <p class="para1">Online Food Delivery</p>
      <form (ngSubmit)="submitForm()" #userForm="ngForm">
          <div>
            <label for="name">Create Username</label>
            <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
          </div>
          <div>
            <label for="address">Address</label>
            <input type="text" id="address" name="name" [(ngModel)]="user.address" required>
          </div>
          <div>
            <label for="email">Enter Email</label>
            <input type="text" id="email" name="name" [(ngModel)]="user.email" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
          </div>
          <button type="submit" [disabled]="!userForm.valid">Submit</button>
          <p><a href="http://localhost:4200/loginpage"> GO TO LOGIN</a></p>
      </form>
</div>
</body>
</html>
  
  