body {
    background-image: url("https://wallpaperaccess.com/full/4117465.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
      /* Styles for the body
      body {
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      } */

      /* Styles for the registration card */
      .registration_card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 50px auto;
        max-width: 400px;
        padding: 50px;
        text-align: center;
      }

      /* Styles for the heading */
      h1 {
        color: #333;
        font-size: 28px;
        margin: 0 0 10px;
      }

      /* Styles for the paragraph */
      .para1 {
        color: #666;
        font-size: 18px;
        margin: 0;
      }

      /* Styles for the login link */
      a {
        color: #007bff;
        text-decoration: none;
      }

      /* Styles for the form */
      form {
        margin-top: 30px;
        text-align: center;
      }

      /* Styles for the form labels */
      label {
        color: #333;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        text-align:center;
        padding: left 50px;
      }

      /* Styles for the form input fields */
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 15px;

      }

      /* Styles for the submit button */
      button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 12px 20px;
        cursor: pointer;
        font-size: 16px;
      }

      button[type="submit"]:hover {
        background-color: #0056b3;
      }
 