body {
    
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #070c45;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: cursive;
  }
  
  section { 
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  .cart-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: left;
    margin-left: 3%;
  }
  
  
  button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  img{
    height: 40%;
    width: 30%;
  }

  .navbar {
    background-color: #167505;
    overflow: hidden;
  }

  .navbar a {
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  .home_a{
    float: left !important;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  